$champagne: #dcd8cd;
$beige: #c1b09e;
$brown: #7a5d53;
$lightBlue: #a5cfc6;
$lightGreen: #839d5c;
$darkGreen: #5e7151;
$red: #b3283f;
$darkRed: #812122;
$mainFont: "ZCOOL XiaoWei", serif;
$white: snow;

html,
body,
ul {
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.log-app main {
  width: 20%;
  margin: 0 40%;
}

header {
  float: right;
  margin: 2vh 2vw;
}

button {
  margin: 0vh 0.5vw;
}

.hidden {
  display: none;
}

/* ###################################

NAVIGATION:

################################### */

nav.navigation-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vh;
  margin: 0;
  padding: 0;
  background-color: $lightBlue;
  z-index: 10;
}

@media only screen and (max-width: 1024px) {
  section {
    margin-top: 8vh;
  }
  .icons-wrapper {
    display: grid;
    height: 6vh;
    grid-template-columns: 50% 50%;
  }
  .icons-wrapper img {
    width: 5vh;
  }
  img#burger-menu {
    margin: 1vh 0 0 5vw;
  }
  img#cross {
    width: 4vh;
    margin: 1vh 5vw 0 37vw;
  }
  .navigation-items-wrapper {
    width: 100vw;
    height: 94vh;
    background-color: #e0f5f0f1;
    transform: translateX(-100vw);
  }
  ul.navigation-items {
    padding: 20% 0;
  }
  li.navigation-item {
    font-size: 2em;
    padding: 5% 20%;
  }
  li.navigation-item a {
    color: $darkRed;
  }
  .showMenu {
    animation: slideMenu 1s ease forwards;
  }

  @keyframes slideMenu {
    from {
      transform: translate(-100vw, 0);
    }
    to {
      transform: translate(0vw, 0);
    }
  }

  .hideMenu {
    animation: hideMenu 1s ease forwards;
  }

  @keyframes hideMenu {
    from {
      transform: translate(0vw, 0);
    }
    to {
      transform: translate(-100vw, 0);
    }
  }
}

//DESKTOP NAV
@media only screen and (min-width: 1025px) {
  section#home {
    padding-top: 2vh;
  }
  section#about {
    padding-top: 10vh;
  }
  .icons-wrapper {
    display: none;
  }

  nav.navigation-sticky {
    width: 60%;
    height: 8vh;
    background-color: $white;
  }
  .navigation-items {
    margin: 2vh 0;
    font-size: 1.3em;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .navigation-items li {
    display: inline;
  }
  a {
    color: $darkRed;
  }
  #log-link {
    float: right;
  }
}
/* ###################################

SNOW:

################################### */

@media only screen and (min-width: 1025px) {
  .snow {
    width: 240px;
    margin: auto;
    height: 1200px;
    background-image: url(../images/snow-240x4800.png);
    animation: letItSnow 50s linear infinite;
  }

  .snow-wrap {
    width: 240px;
  }

  @keyframes letItSnow {
    to {
      background-position-y: 4800px;
    }
  }
}
// ******************
//INDEX.HTML
// ****************

.app h1 {
  text-decoration: underline;
  margin: 10vh 0 2vh 0;
}

//MODAL WINDOW
#modal-black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.623);
  z-index: 20;
}

#modal-container {
  position: absolute;
  width: 30%;
  display: block;
  margin: 7% 35%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: $white;
  border-radius: 30px;
}

.hiddenVisibility {
  visibility: hidden;
}

#modal-window {
  max-width: 70%;
  margin: 4% 15% 4% 15%;
}

#close-button {
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0.2em;
  text-align: center;
  font: bolder 1em $mainFont;
  top: 1vw;
  right: 1vw;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgb(236, 88, 88);
}

.form-div {
  display: block;
  margin: auto;
  text-align: center;
  border-bottom: 2px dashed $lightBlue;
}

.app form {
  display: inline-block;
}

.app form input {
  color: black;
  background-color: #a5cfc660;
  padding: 1.5% 3%;
  margin: 3% auto;
}

.form-div button,
.form-div #submit-btn {
  margin: 5% auto 10% auto;
  padding: 3% 6%;
  border: 2px solid black;
  background-color: $lightBlue;
  border-radius: 20px;
}

.form-green {
  border-bottom: none;
}

.form-green form input {
  background-color: #adca817c;
}

.form-green #submit-btn {
  background-color: #9cbb6ec5;
}

#sign-successful {
  margin: 20% auto 30% auto;
}

#wrong-user {
  color: $red;
  margin: 0;
  font-size: 0.8em;
}

//ABOUT
@media only screen and (min-width: 1025px) {
  .about-grid {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .about-grid img {
    max-width: 90%;
  }
}

//donations

.gift-cont {
  position: relative;
}

.gift-drawing {
  position: relative;
}

.gift-pic {
  position: absolute;
  top: 5%;
}

@media only screen and (min-width: 1025px) {
  .don-grid {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .gifts-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
  }
  .gifts-grid img {
    max-width: 100%;
  }

  .gifts-grid p,
  .gifts-grid h6 {
    margin: 0 0 0 7%;
  }

  #don-desc {
    width: 80%;
    margin: 15% 0;
  }

  #donate {
    margin-top: 5vh;
    background-color: $lightGreen;
    font-size: 1.5em;
    font-weight: bolder;
    color: $white;
    padding: 7% 12%;
    font-family: $mainFont;
    border-radius: 30px;
  }

  //partners desktop
  .partners-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-bottom: 10vh;
  }

  .partners-grid img {
    max-width: 70%;
    margin: auto;
  }
}

//footer

footer {
  padding: 4% 5%;
  background-color: $lightBlue;
}

footer p {
  margin: 0.2em;
}
/* ###################################

PROFILE PAGE:

################################### */

#insuff1,
#insuff2 {
  margin: 20% 12%;
  color: $red;
}

.top-div {
  display: grid;
  grid-template-columns: 50% 50%;
}

.top-div a {
  cursor: pointer;
  font-size: 1.4em;
}

.top-div a p {
  text-decoration: underline;
  float: right;
  margin: 7% 13% 0 0;
}

input {
  border: none;
  border-bottom: 2px solid black;
  // background-color: rgba(255, 250, 250, 0.185);
  background-color: transparent;
  color: $white;
  font-family: $mainFont;
}

.welcome-text {
  font-size: 1.3em;
  margin: 0 0 11vh 0;
}

.ribbon svg {
  display: block;
  margin: auto;
  max-width: 80%;
}

@keyframes letItSnow1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-60px, 150vh);
    opacity: 0;
  }
}

body {
  background-color: $white;
  font-family: $mainFont;
}

img#cc {
  display: block;
  max-width: 80%;
  margin: auto;
  transform: rotateY(100deg);
}

.turn {
  animation: turnCard 1s ease 0s forwards;
}

@keyframes turnCard {
  100% {
    transform: rotateY(0deg);
  }
}

// .form-grid label,
// .grid-sq-2 {
//   color: $white;
// }

.user-card,
.donation-info,
.money-don,
.gift-don {
  position: relative;
}

.user-card {
  background: -moz-linear-gradient(
    315deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #839d5c),
    color-stop(50%, #87a679),
    color-stop(100%, #8db8af)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    315deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  );
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    315deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(
    315deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  ); /* ie10+ */
  background: linear-gradient(135deg, #839d5c 0%, #87a679 50%, #8db8af 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#839d5c', endColorstr='#8db8af',GradientType=1 );
}
.donation-info,
.money-don {
  background: -moz-linear-gradient(
    135deg,
    #87a77a 0%,
    #8db8af 50%,
    #87a77a 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #87a77a),
    color-stop(50%, #8db8af),
    color-stop(100%, #87a77a)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    135deg,
    #87a77a 0%,
    #8db8af 50%,
    #87a77a 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(135deg, #87a77a 0%, #8db8af 50%, #87a77a 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(
    135deg,
    #87a77a 0%,
    #8db8af 50%,
    #87a77a 100%
  ); /* ie10+ */
  background: linear-gradient(
    315deg,
    #87a77a 0%,
    #8db8af 50%,
    #87a77a 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a77a', endColorstr='#87a77a',GradientType=1 ); /* ie6-9 */
}
.gift-don {
  background: -moz-linear-gradient(
    135deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #8db8af),
    color-stop(50%, #87a679),
    color-stop(100%, #839d5c)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    135deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  );
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(135deg, #839d5c 0%, #87a679 50%, #8db8af 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(
    135deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  ); /* ie10+ */
  background: linear-gradient(
    315deg,
    #839d5c 0%,
    #87a679 50%,
    #8db8af 100%
  ); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8db8af', endColorstr='#839d5c',GradientType=1 );
}
.form-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 4% 0;
}
.style-button {
  position: absolute;
  display: block;
  width: 30%;
  margin: 0 25%;
  padding: 2% 0;
  bottom: 4%;
  border: 2px solid $white;
  border-radius: 5px;
  background-color: $red;
  font-family: $mainFont;
  color: $white;
  cursor: pointer;
}
#save-card-btn,
#view-gifts,
.cc-anim button {
  background-color: $darkGreen;
}
#view-gifts {
  color: black;
  background-color: $lightBlue;
  border: 1px solid black;
  margin: 0;
  position: relative;
}
p#amount-donated,
#children-happy {
  font-size: 1.2em;
  font-weight: bolder;
  color: #b3283f;
}
select {
  background-color: transparent;
}
select option {
  padding: 4px 10px;
  background-color: rgba(192, 192, 197, 0.418);
  border-bottom: 1px solid $white;
}
.gift-don select {
  background-color: #ece9deda;
  padding: 4px;
}
.gift-don select option {
  background-color: $champagne;
  border: 1px solid $white;
}
@media only screen and (max-width: 1024px) {
  img {
    display: block;
    margin: auto;
  }
}
@media only screen and (min-width: 1025px) {
  .present-background {
    background-color: $red;
    border-radius: 40px;
  }
  body {
    display: grid;
    grid-template-columns: 20% 60% 20%; // padding: 0vh 20%;
  }
  .grid-top,
  .donations-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
  }
  .grid-sq-2,
  .grid-sq-3 {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .grid-sq-2 img {
    width: 90%;
    margin: 0 0 0 5%;
  }
  .grid-sq-3 img {
    height: 13vw;
    margin: 0 0 0 20%;
  }
  .grid-sq-3 {
    margin: 0 0 12% 0;
  }
  .user-card,
  .donation-info,
  .money-don,
  .gift-don {
    // width: 90%; // margin-left: 5%; // height: 35vh;
    background-color: #839d5c;
    padding: 5% 10%;
    border-radius: 40px;
  }
  .donations-grid {
    height: 40%;
  }
  .user-card {
    border-radius: 40px 0 0 0;
  }
  .donation-info {
    border-radius: 0 40px 0 0;
  }
  .money-don {
    border-radius: 0 0 0 40px;
  }
  .gift-don {
    border-radius: 0 0 40px 0;
  }
  .grid-top {
    margin-bottom: 4%;
  }
}
// **********************
// MAIN PAGE
// **********************
img#cover {
  max-width: 80%;
  padding: 6%;
  margin: 2% 4%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.616) 0px 0px 25px;
}
// THERMOMETER -idea taken from https://codepen.io/robotballoon/pen/Fjnyp
// **********************
div#thermometer {
  max-width: 80%;
  margin: 3% 10%;
  font-size: 1.1em;
}
p#goal {
  text-align: right;
  font-weight: bolder;
}
div#whole-bar {
  width: 100%;
  height: 20px;
  background-color: $lightBlue;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}
div#progress {
  float: left;
  width: 5%;
  height: 20px;
  background-color: $red;
  z-index: 2;
}
div.stats div {
  width: 29%;
  padding: 2%;
  float: left;
}
div.stats div p {
  margin: 1%;
}
